@media print{
    .buttn{
        visibility: hidden;
    }
}
.center {
    margin: 0 auto;
    font-family: calibri,arial; border-style: solid;border-color: rgb(255,0,0,1);width: 50%;max-width: 900px;
}

.center .header{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255,0,0,1));
    color: white; 
    margin: 0px;width: 100%;
    text-transform:uppercase
}

.center .header .row1 {
    margin: 0px auto;
}

.center .header .row1 .headEle {
    width: 300px;
    text-align: center;
}

.center .header .row1 .headEle h1{
    font-size:50px; width: 45%;
}

.center .billDet {
    width: 100%;
}

.center .billDet .billEle {
    width: 300px;
    text-align: center;
}

.center .billDet .billEle p{
    text-align: left;
}

.center .billEle .billItemEle {
    width: 300px;
}

.center .rem .twoDivs{
    background-image: radial-gradient(circle, red, white);height: 2px;width: 900px;
}
.center .rem .billitemsHead tr{
    border-bottom: 1px solid rgb(175, 174, 174);
}

.center .rem .billitemsHead .billItemsRow .billItemDes {
    width: 40%;
    padding-left: 100px;
}

.center .rem .billitemsHead .billItemsRow .billItem1 {
    width: 20%;
    text-align: center;
}

.center .rem .billitemsHead .buttons{
    text-align: right; 
}

#desc{
    width: 40%;
    padding-left: 100px;
}

#remain{
    width: 20%;
    text-align: right;
    width: 35px;
}

.billItem1u{
    width: 30%;
    text-align: right;
}

#remain1{
    text-align: center;
    width: 20%;
}

.billItem1q{
    width: 30%;
    text-align: right;
}



#xyz{
    width: 20%;
    text-align: right;
    padding-right: 45px;
}

.billItem1a{
    width: 84%;
}
